<ul class="nav navbar-nav navbar-right">
    <li><a routerLink="/Home" routerLinkActive="active-link" class="nav-item nav-link" [translate]="'app.menu.menuDerecho.home'"> </a></li>
    <li><a routerLink="/GestionEmpleados" routerLinkActive="active-link" class="nav-item nav-link" [translate]="'app.menu.menuDerecho.employeesmanagement'"></a></li>
    <li><a routerLink="/GestionCargaCamion" routerLinkActive="active-link" class="nav-item nav-link" [translate]="'app.menu.menuDerecho.loadTruck'"></a></li>
</ul>

